// Import barebones scss structure
@import 'utilities', 'reset', 'variables', 'colors', 'fonts';

// Grid
@import 'grid';

@import 'components/components';
@import 'pages/pages';

html {
	@include font-smoothing(on);
	font-size: $base-font-size;
}

// YOUR STYLES HERE
// ==============================

.column-relative {
	position: relative;
	height: 100vh;
}

.column-absolute {
	position: absolute;
	height: 100vh;
}

@import 'mobile';
