.section--team {
	min-height: 570px;
	padding: 50px 0;
	background-color: palette(green);

	@include screen-max($screen-md) {
		min-height: 750px;
	}
}

.profile {
	position: relative;
	color: palette(pink, dark);

	@include screen-max($screen-sm) {
		margin-bottom: 40px;
	}

	.profile__image {
		height: 200px;

		@include screen-max($screen-sm) {
			height: auto;
		}

		img {
			float: right;
			width: 80%;
			border-radius: 50%;

			@include screen-max($screen-sm) {
				float: none;
				margin: 0 auto;
			}
		}
	}

	h3 {
		position: absolute;
		top: 25px;
		margin: 0;
		font-size: em(52px);
		text-transform: lowercase;
	}

	.profile__details {
		position: absolute;
		top: 150px;

		h4 {
			margin: 0;
			font-size: em(28px);
			text-transform: lowercase;
		}

		a {
			color: palette(pink, dark);
			text-decoration: none;
		}

		@include screen-max($screen-sm) {
			top: 100px;
		}
	}

	p {
		position: absolute;
		margin-top: 120px;

		@include screen-max($screen-sm) {
			position: relative;
			margin-top: 20px;
		}
	}
}
