.section--contact {
	height: 600px;
	background-color: palette(purple, dark);

	.column-absolute {
		height: 600px;
	}

	.form--contact {
		margin-top: 50px;

		.btn {
			margin-top: 20px;
		}
	}

	span {
		position: absolute;
		top: -140px;
		left: 35px;
		color: palette(pink, dark);
		font-family: $sans;
		font-size: em(680px);
	}

	h2 {
		position: absolute;
		top: 50%;
		margin: 0;
		color: palette(purple);
		font-size: em(180px);
		line-height: 1.1;
		transform: translateY(-50%);
	}

	.input--wrap {
		font-family: $sans;

		label {
			display: block;
			margin-bottom: 10px;
			color: palette(orange, dark);
			font-size: em(20px);
		}

		.input {
			width: 100%;
			display: block;
			outline: 0;
			margin-top: 5px;
			border: 4px solid palette(orange, dark);
			padding: 10px 20px;
			background-color: transparent;
			color: palette(purple);
			font-size: em(16px, 20px);
			transition: border ease-in-out $transition-time;

			@include placeholder {
				color: palette(orange, dark);
			}

			&:focus {
				border-color: palette(orange);
			}
		}

		.input--textarea {
			height: 150px;
			resize: none;
		}
	}
}
