.footer--main {
	height: 120px;
	padding: 50px 0;
	background-color: palette(purple, dark);

	.nav--social {
		text-align: center;

		li {
			display: inline-block;
			width: 80px;
			font-size: em(40px);

			a {
				color: palette(purple);
				transition: color ease-in-out $transition-time;

				&:hover {
					color: palette(orange, dark);
				}
			}
		}
	}
}
