.header--main {
	position: fixed;
	z-index: 2;
	width: 100%;
	padding: 30px 0;
	pointer-events: none;

	@include screen-max($screen-sm) {
		position: absolute;
	}

	.logo {
		width: 330px;
		transition: opacity ease-in-out $transition-time;

		@include screen-max($screen-md) {
			width: 280px;
		}

		@include screen-max($screen-sm) {
			width: 200px;
			margin: 0 auto;
		}
	}

	&.smaller {
		.logo {
			opacity: 0;
		}

		.scroll-menu {
			opacity: 1;
			pointer-events: all;
		}

		.nav--main {
			opacity: 0;
		}

		&.toggle {
			.nav--main {
				opacity: 1;
				background-color: palette(purple);
			}
		}
	}
}

.scroll-menu {
	position: absolute;
	top: -15px;
	left: -15px;
	z-index: 11;
	width: 100px;
	height: 100px;
	background-color: palette(blue, dark);
	opacity: 0;
	transition: opacity ease-in-out $transition-time;
	cursor: pointer;

	.logo-mini {
		position: relative;
		top: 21px;
		left: 31px;
		width: 44px;
	}
}

.nav--main {
	position: relative;
	top: -101px;
	width: calc(100% + 30px);
	height: 100px;
	padding: 30px 30px 30px 0;
	transition: opacity ease-in-out $transition-time;
	pointer-events: all;

	@include screen-max($screen-sm) {
		top: 5px;
		width: 100%;
		padding: 0;
	}

	ul {
		float: right;
		width: 400px;

		@include screen-max($screen-sm) {
			float: none;
			width: 100%;
		}
	}

	li {
		display: inline-block;
		width: 25%;
		margin-right: -4px;
		font-family: $sans;
		font-size: em(20px);
		text-transform: lowercase;
		text-align: center;
		transition: all ease-in-out $transition-time;

		&:hover {
			a {
				color: palette(pink);
			}

			&.selected ~ hr {
				background-color: palette(pink);
			}
		}

		&:last-child {
			padding-right: 0;
		}

		a {
			width: 25%;
			padding-bottom: 10px;
			color: palette(pink, dark);
			text-decoration: none;
		}
	}

	.two.selected ~ hr {
		margin-left: 25%;
	}

	.three.selected ~ hr {
		margin-left: 50%;
	}

	.four.selected ~ hr {
		margin-left: 75%;
	}

	hr {
		width: 25%;
		height: 4px;
		margin: 10px 0 0;
		border: 0;
		background-color: palette(pink, dark);
		transition: ease-in-out $transition-time;

		@include screen-max($screen-sm) {
			display: none;
		}
	}
}
