.section--hero {
	position: relative;
	height: 100vh;
	min-height: 700px;
	background-color: palette(blue);

	@include screen-max($screen-sm) {
		height: auto;
		padding: 20px 0;
	}

	h1 {
		position: absolute;
		top: 50%;
		margin: 0;
		color: palette(green, light);
		font-size: em(180px);
		line-height: 1.1;
		transform: translateY(-50%);

		@include screen-max($screen-md) {
			font-size: em(150px);
		}

		@include screen-max($screen-sm) {
			position: relative;
			top: 0;
			margin-top: 100px;
			font-size: em(110px);
			line-height: 1.05;
			transform: none;
		}
	}

	.text-wrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@include screen-max($screen-sm) {
			position: relative;
			top: 0;
			transform: none;
		}
	}

	p {
		&:first-child {
			margin-top: 40px;
		}
	}
}
