.section--services {
	min-height: 500px;
	padding: 30px 0;
	background-color: palette(pink);

	@include screen-max($screen-sm) {
		padding: 20px 0;
	}
}

.services--text {
	p {
		font-size: em(19px);
	}
}

.nav--services {
	margin-top: 70px;
	border: 8px solid palette(orange, dark);

	@include screen-max($screen-sm) {
		margin-top: 0;
	}

	ul {
		padding: 10px 40px;
	}

	li {
		color: palette(orange, dark);
		font-family: $sans;
		font-size: em(32px);
		line-height: 1.5;
		text-transform: lowercase;
		cursor: pointer;
		transition: color ease-in-out $transition-time;

		&:hover {
			color: palette(orange);
		}

		&.current {
			color: palette(pink, dark);
		}
	}
}
